{% extends "base.html" %}
{% block body %}

    <div id="chapters-section" class="page-padding">
        <div class="section-title">
            <h1>Chapters information<i class="fa-solid fa-chevron-up"></i></h1>
        </div>
        <div class="section-content">
            {% if info_available and info.totalStdPages != 0.0 %}
                {% if info.chapters.totalStdPages != 0.0 %}
                    <div class="chapters-container">
                        {% for chapter in info.chapters.chapters %}
                            {% include "theses_checker/widgets/chapter.html" with chapter=chapter %}
                        {% endfor %}
                    </div>
                    {% include "theses_checker/widgets/chapters_total.html" with chapters_info=info.chapters %}
                {% else %}
                    <div class="toast-container-with-heading warning">
                        <div class="toast-heading">
                            Warning
                        </div>
                        <div class="toast-content">
                            Information about chapters is not available. Info displayed is about the whole document.
                        </div>
                    </div>
                    {% if info.beforeFirstChapterInfo.totalStdPages != 0.0  %}
                        {% include "theses_checker/widgets/chapter.html" with chapter=info.beforeFirstChapterInfo %}
                    {% endif %}
                    {% if info.afterLastChapterInfo.totalStdPages != 0.0  %}
                        {% include "theses_checker/widgets/chapter.html" with chapter=info.afterLastChapterInfo %}
                    {% endif %}
                    {% include "theses_checker/widgets/chapters_total.html" with chapters_info=info %}
                {% endif %}
            {% else %}
                <div class="toast-container-with-heading error">
                    <div class="toast-heading">
                        Error
                    </div>
                    <div class="toast-content">
                        Information about chapters is not available.
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


    <div id="frequency-section" class="page-padding">
                <div class="section-title">
                    <h1>Word frequency<i class="fa-solid fa-chevron-up"></i></h1>
                </div>
                <div class="section-content">
                    {% if info_available %}
                        {% if info.mostFrequentWordsFromChapters|length == 0 %}
                            <div class="toast-container-with-heading info">
                                <div class="toast-content">
                                    Information about words frequency displayed is from chapters (excluding text before first chapter and bibliography and after).
                                </div>
                            </div>
                            {% include "theses_checker/widgets/word_frequency_table.html" with words_frequency=info.mostFrequentWordsFromChapters %}
                        {% else %}
                            {% if info.mostFrequentWordsTotal|length > 0 %}
                                <div class="toast-container-with-heading warning">
                                    <div class="toast-heading">
                                        Warning
                                    </div>
                                    <div class="toast-content">
                                        Information about words frequency in chapters is not available. Info displayed is about the whole document.
                                    </div>
                                </div>
                                {% include "theses_checker/widgets/word_frequency_table.html" with words_frequency=info.mostFrequentWordsTotal %}
                            {% else %}
                                <div class="toast-container-with-heading error">
                                    <div class="toast-heading">
                                        Error
                                    </div>
                                    <div class="toast-content">
                                        No words were found in the document.
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <div class="toast-container-with-heading error">
                            <div class="toast-heading">
                                Error
                            </div>
                            <div class="toast-content">
                                Information about words frequency is not available.
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

    
    <div id="typography-section" class="page-padding">
        <div class="section-title">
            <h1>Typography<i class="fa-solid fa-chevron-up"></i></h1>
        </div>
        <div class="section-content">

            {% comment "Use if you in case of small storage - deletes annotated pdf file after user is done with loading that file" %} 
                <iframe src="{% url 'view_annotated' pdf_name=pdf_name %}" style="width: 100%; height: 95vh;">
                    <div>No online PDF viewer installed</div>
                </iframe>
            {% endcomment %}

            {% load static %}
            <iframe src="{% static pdf_name %}" style="width: 100%; height: 95vh;">
                <div>No online PDF viewer installed</div>
            </iframe>

        </div>
    </div>

{% endblock body %}