<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF checker</title>
</head>
<body>
    <h1>{{ text }}</h1>

    <!-- {% load static %}
    <div id="pdf_view" style="display: none;">{{ pdf_name }}</div>
    <object src="{% static pdf_name %}" style="width: 100%; height: 95vh;">
        <iframe src="{% url 'view_annotated' pdf_name=pdf_name %}" style="width: 100%; height: 95vh;">
            <div>No online PDF viewer installed</div>
        </iframe>
    </object> -->

    <iframe src="{% url 'view_annotated' pdf_name=pdf_name %}" style="width: 100%; height: 95vh;">
        <div>No online PDF viewer installed</div>
    </iframe>

</body>
</html>