{% extends "base.html" %}
{% block body %}

    <div class="page-padding">
        <div class="text">
            Theses Checker is an online tool that checks your thesis mainly for typographical errors.
            This tool searches for mistakes such as text overflow, wrong usage of hyphens, no section
            description and others.
            To find some mistakes, Theses Checker searches for keywords. Therefore the thesis should be
            either in Czech, English or Slovak; otherwise, some checks might not work as expected.
        </div>

        <div class="container">
            <div class="box">
                <form onsubmit="loader()" action="{% url 'checkPDF' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <label for="file">Select a PDF file:</label><br>
                    <input type="file" id="file" name="file" accept="application/pdf, .pdf" onchange="validatePdf(this)" required><br><br>
                    <input class="button" type="submit" value="Check file">
                </form>
            </div>

            <div id="loader" class="box overlay">
                <div class="dot-pulse"></div>
            </div>
        </div>
    </div>

{% endblock body %}