command.txt
prezentace.aux
prezentace.log
prezentace.nav
prezentace.out
prezentace.snm
prezentace.synctex.gz
prezentace.toc
prezentace.fls
prezentace.fdb_latexmk


command.txt
thesis/Sablona_prezentace_2021.zip
thesis/sablona2020.zip
src/web/templates/test.html
src/web/.env
.vscode/launch.json
.vscode/settings.json
theses/xmacko13-Kontrola-diplomovych-praci.aux
theses/xmacko13-Kontrola-diplomovych-praci.bbl
theses/xmacko13-Kontrola-diplomovych-praci.blg
theses/xmacko13-Kontrola-diplomovych-praci.fdb_latexmk
theses/xmacko13-Kontrola-diplomovych-praci.fls
theses/xmacko13-Kontrola-diplomovych-praci.lof
theses/xmacko13-Kontrola-diplomovych-praci.log
theses/xmacko13-Kontrola-diplomovych-praci.out
theses/xmacko13-Kontrola-diplomovych-praci.ptc
theses/xmacko13-Kontrola-diplomovych-praci.synctex.gz
theses/xmacko13-Kontrola-diplomovych-praci.toc
theses/xmacko13-Kontrola-diplomovych-praci.synctex.gz(busy)
theses/drawio/.$*
theses/pdf_to_png
appendices/