* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 500px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
}

.page-padding{
    padding-left: 50px;
    padding-right: 50px;
}

.primary-color{
    background-color: #191970;
    color: #fefefe;
}

.primary-container-color{
    background-color: #292a7e;
    color: #bfc0ff;
}

.secondary-color{
    background-color: #5b5b7e;
    color: #fefefe;
}

.secondary-container-color{
    background-color: #dcdbff;
    color: #424364;
}

.base-color{
    background-color: #fcf8ff;
    color: #1b1b21;
}

.base-container-color{
    background-color: #e4e1e9;
    color: #464651;
}

.toast-container, .toast-container-with-heading{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;

    background-color: #e4e1e9;
    color: #464651;
    text-align: center;
    font-weight: bold;
}

.toast-container{
    padding: 20px 30px;
}

.toast-container-with-heading{
    display: grid;
    grid-template-areas:
        'toast_heading'
        'toast_content';
    
    .toast-heading{
        grid-area: toast_heading;
        padding: 10px 30px 8px 30px;
        border-radius: 20px 20px 0 0;

        background-color: #535359;
        color: #fefefe;
        font-size: 120%;
    }

    .toast-content{
        grid-area: toast_content;
        padding: 20px 30px;
    }
}

.toast-container.warning, .toast-container-with-heading.warning{
    background-color: #fedfb7;
    color: #553400;
}

.toast-container-with-heading.warning .toast-heading{
    background-color: #855400;
    background-color: #ec6921;
    color: #fefefe;
}

.toast-container.error, .toast-container-with-heading.error{
    background-color: #ffdad6;
    color: #410002;
}

.toast-container-with-heading.error .toast-heading{
    background-color: #ba1a1a;
    color: #fefefe;
}

.toast-container.success, .toast-container-with-heading.success{
    background-color: #ccf2c3;
    color: #003a00;
}

.toast-container-with-heading.success .toast-heading{
    background-color: #3c901a;
    color: #fefefe;
}

#page-grid{
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows:max-content auto max-content;
    min-height: 100vh;
}

#header {
    grid-area: header;
    height: 70px;
    position: relative;
    border-radius: 0 0 5px 5px;
}

#title {
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

#title a, #footer a{
    text-decoration: none;
    color: inherit;
}

#main{
    grid-area: main;
    padding: 20px 0px;
}

#footer{
    grid-area: footer;
    height: 50px;
    border-top:#c7c5d3 1px solid;
}

#footer div{
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.contacts{
    font-weight: 600;
}