<div class="chapter-box secondary-container-color">
    <div class="chapter-title">
        <h2>
            {{chapter.sequence}}. {{chapter.title}}
            <small>{{chapter.pages.first}} - {{chapter.pages.last}} ({{chapter.pages.count}} page{% if chapter.pages.count != 1 %}s{% endif %})</small>
        </h2>
    </div>
    <div class="chapter-info">
        <div class="chapter-text-info">
            <h3>Text</h3>
            <p>Characters:&ensp;{{chapter.textInfo.totalCharCount}}</p>
            <p>Characters without whitespaces:&ensp;{{chapter.textInfo.nonWhiteCharCount}}</p>
            <p>Words:&ensp;{{chapter.textInfo.totalWordCount}}</p>
            <p>Standard pages from text:&ensp;<b>{{chapter.textInfo.totalCharCountStdPages}}</b></p>
        </div>
        <div class="chapter-image-info">
            <h3>Images</h3>
            <p>Number of images:&ensp;{{chapter.pictures|length}}</p>
            <p>Standard pages from images:&ensp;<b>{{chapter.picturesStdPages}}</b></p>
            {% if chapter.pictures|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Page</th>
                            <th>Area [cm<sup>2</sup>]</th>
                            <th>Standard Pages</th>
                            <th>Approximate Character Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for picture in chapter.pictures %}
                            <tr>
                                <td>{{picture.page}}</td>
                                <td>{{picture.area}}</td>
                                <td>{{picture.stdPages}}</td>
                                <td>{{picture.charCount}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    <div class="chapter-total">
        <p>Total number of standard pages in chapter:&ensp;<b>{{chapter.totalStdPages}}</b></p>
    </div>
</div>