<div class="chapters-total">
    <div class="percentage-bar-container">
        <div class="percentage-bar-description">Images {{chapters_info.stdPagesPicturePercentage}}%&ensp;({{chapters_info.totalStdPagesFromPictures}})</div>
        <div class="percentage-bar">
            <div style="width: {{chapters_info.stdPagesPicturePercentage}}%"></div>
        </div>
        <div class="percentage-bar-description">Text {{chapters_info.stdPagesTextPercentage}}%&ensp;({{chapters_info.totalStdPagesFromText}})</div>
    </div>
    <p>Total number of standard pages from chapters:&ensp;<b>{{chapters_info.totalStdPages}}</b></p>
</div>