<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>{% block title %}Theses Checker{% endblock %}</title>
    <link rel ="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
</head>
<body class="base-color">
    <div id="page-grid">

        <header id="header" class="page-padding primary-color">
            {% load theses_checker_tags %}
            <div id="title">
                <a href="{% url 'index' %}">Theses Checker<span id="version">v{% version %}</span></a>
            </div>
        </header>

        <main id="main" class="base-color">
            {% block body %}{% endblock %}
        </main>

        <footer id="footer" class="page-padding base-container-color">
            <div>
                Created as a Bachelor's Thesis by Michaela Macková. For more information visit <a class="contacts" href="https://github.com/MichaelaMackova/Theses-Checker.git">GitHub</a>
            </div>
        </footer>
    </div>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>
